
-- Create schema for custom auth tables
CREATE SCHEMA IF NOT EXISTS auth;

-- Enable Row Level Security
ALTER TABLE auth.users ENABLE ROW LEVEL SECURITY;

-- Create financial_data table
CREATE TABLE IF NOT EXISTS public.financial_data (
    id BIGSERIAL PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    month VARCHAR(7) NOT NULL,  -- Format: YYYY-MM
    total_income DECIMAL(12,2) DEFAULT 0,
    total_expenses DECIMAL(12,2) DEFAULT 0,
    current_savings DECIMAL(12,2) DEFAULT 0,
    savings_goal DECIMAL(12,2) DEFAULT 0,
    monthly_budget DECIMAL(12,2) DEFAULT 0,
    budget_used DECIMAL(12,2) DEFAULT 0,
    monthly_income DECIMAL(12,2) DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(user_id, month)
);

-- Create transactions table
CREATE TABLE IF NOT EXISTS public.transactions (
    id BIGSERIAL PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    type VARCHAR(10) CHECK (type IN ('income', 'expense')) NOT NULL,
    category VARCHAR(50) NOT NULL,
    description TEXT,
    amount DECIMAL(12,2) NOT NULL,
    date DATE NOT NULL,
    recurring BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Create expenses table
CREATE TABLE IF NOT EXISTS public.expenses (
    id BIGSERIAL PRIMARY KEY,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    month VARCHAR(7) NOT NULL,  -- Format: YYYY-MM
    rent DECIMAL(12,2) DEFAULT 0,
    loan_repayment DECIMAL(12,2) DEFAULT 0,
    insurance DECIMAL(12,2) DEFAULT 0,
    groceries DECIMAL(12,2) DEFAULT 0,
    transport DECIMAL(12,2) DEFAULT 0,
    eating_out DECIMAL(12,2) DEFAULT 0,
    entertainment DECIMAL(12,2) DEFAULT 0,
    utilities DECIMAL(12,2) DEFAULT 0,
    healthcare DECIMAL(12,2) DEFAULT 0,
    education DECIMAL(12,2) DEFAULT 0,
    miscellaneous DECIMAL(12,2) DEFAULT 0,
    total_expense DECIMAL(12,2) GENERATED ALWAYS AS (
        rent + loan_repayment + insurance + groceries + 
        transport + eating_out + entertainment + utilities + 
        healthcare + education + miscellaneous
    ) STORED,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(user_id, month)
);

-- Enable RLS on all tables
ALTER TABLE public.financial_data ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.transactions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.expenses ENABLE ROW LEVEL SECURITY;

-- Create policies for financial_data
CREATE POLICY financial_data_select ON public.financial_data FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY financial_data_insert ON public.financial_data FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY financial_data_update ON public.financial_data FOR UPDATE USING (auth.uid() = user_id);
CREATE POLICY financial_data_delete ON public.financial_data FOR DELETE USING (auth.uid() = user_id);

-- Create policies for transactions
CREATE POLICY transactions_select ON public.transactions FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY transactions_insert ON public.transactions FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY transactions_update ON public.transactions FOR UPDATE USING (auth.uid() = user_id);
CREATE POLICY transactions_delete ON public.transactions FOR DELETE USING (auth.uid() = user_id);

-- Create policies for expenses
CREATE POLICY expenses_select ON public.expenses FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY expenses_insert ON public.expenses FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY expenses_update ON public.expenses FOR UPDATE USING (auth.uid() = user_id);
CREATE POLICY expenses_delete ON public.expenses FOR DELETE USING (auth.uid() = user_id);

-- Create triggers to update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS diff
BEGIN
    NEW.updated_at = timezone('utc'::text, now());
    RETURN NEW;
END;
diff language 'plpgsql';

CREATE TRIGGER update_financial_data_updated_at
    BEFORE UPDATE ON public.financial_data
    FOR EACH ROW
    EXECUTE PROCEDURE update_updated_at_column();

CREATE TRIGGER update_expenses_updated_at
    BEFORE UPDATE ON public.expenses
    FOR EACH ROW
    EXECUTE PROCEDURE update_updated_at_column();

